.header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.offers {
  margin-top: 20px;
}

.offer {
  border: 1px solid #dee2e6;
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
}

.offer-image {
  height: 50px;
  margin-right: 20px;
  width: 50px;
}

.offer-text {
  flex: 1;
}

.offer-city {
  font-size: 24px;
  font-weight: bold;
}

.offer-location {
  color: #6c757d;
  font-size: 16px;
}

.offer-hours {
  color: #6c757d;
  font-size: 14px;
}

.offer-promo {
  color: red;
  font-weight: bold;
}

.offers .col-md-4 {
  margin-bottom: 20px;
}

.loading-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.abs-center {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 303px;
}

.title-card {
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .offers .col-md-4 {
    margin-bottom: 20px;
  }
}